<% content_for(:title_tag) do %>
  Home - TreeHousing
<% end %>


		<%= render 'pages/banner' %>


<div class="home">
<div class="container">
	<div class="row">



		<!-- Recently added treehouses -->

		<div class="col-xs-12">
			<h2 class="text-center recent-treehouses-header">Recently added treehouses</h2>
		</div> <!-- end col -->
		<%= render 'treehouse_card' %>
		<div class="col-xs-12 text-center">
			<div class="see-more">
<!-- 				<%= link_to "See more treehouses", treehouses_path, class: "btn btn-light" %>
 -->			</div>
		</div> <!-- end col -->



	</div> <!-- end row -->


	<div class="row">
		<div class="col-xs-12 col-sm-5">
			<div class="share-treehouse-home">
				<h2 class="share-home-h2">List your treehouse</h2>
				<h3 class="share-home-h3">Earn money by sharing your space.</h3>
				<p>Join our community and share the magic of your treehouse with the world.</p>
				<%= link_to "Create a listing", new_treehouse_path, class:"btn btn-dark" %>
			</div>
		</div>
		<div class="col-xs-12 col-sm-7">
			<%= image_tag 'inside_treehouse.jpg', class: 'img-responsive' %>
		</div>
	</div>
</div> <!-- end container -->
<div id="map" style="width: 100%; height: 350px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

</div><!-- home -->

