<div class="show-banner" style="background-image: url(<%= cl_image_path @treehouse.banner_image %>);">	
</div>


	
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="booking-wrapper">
				<div class="booking-col">
					<div class="booking-col-highlight"><strong>$<%= number_with_precision(@treehouse.rate, precision: 2) %></strong>   Per Night</div>
					<div class="booking-col-content">
						<p>
							<%= render "bookings/form" %>
						</p>
						<p class="small text-center">You won't be charged yet.</p>
						<!-- <a class="btn btn-light" href="">Book Now</a> -->
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8">

			<div class="show-content">
				<h1><%= @treehouse.name %></h1>
				<h2><%= @treehouse.city %>, <%= @treehouse.country %></h2>
				
					<div class="row top-buffer">
						<div class="col-xs-12 col-sm-3">
							<div class="icon text-center">
								<i class="fa fa-home" aria-hidden="true"></i>
							</div>
							<div class="attribute text-center">
								<%= @treehouse.category %>								
							</div>
						</div>
						<div class="col-xs-12 col-sm-3">
							<div class="icon text-center">
								<i class="fa fa-user" aria-hidden="true"></i>
							</div>
							<div class="attribute text-center">
								<%= @treehouse.capacity %> guests							
							</div>
						</div>
						<div class="col-xs-12 col-sm-3">
							<div class="icon text-center">
								<i class="fa fa-bed" aria-hidden="true"></i>
							</div>
							<div class="attribute text-center">
								<%= @treehouse.bed_count %> beds						
							</div>
						</div>
						<div class="col-xs-12 col-sm-3">
							<div class="icon text-center">
								<i class="fa fa-tree" aria-hidden="true"></i>
							</div>
							<div class="attribute text-center">
								<%= @treehouse.tree_type %>								
							</div>
						</div>

					

					</div> <!-- end row -->
			
				<h3>About this treehouse</h3>

				<p><%= @treehouse.description %></p>
				<p><strong>Host's name</strong>: <%= @treehouse.owner.first_name %> <%= @treehouse.owner.last_name %></p>

				<h3>Amenities</h3>
				<p><strong>*** Need to add amenities ***</strong></p>

<!-- 				<% @treehouse.photos.each do |photo| %>
				  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
				<% end %> 
 -->
				<h3>Treehouse Owner Actions</h3>
				<ul>
					<li><%= link_to 'Edit Treehouse', edit_treehouse_path %></li>
					<li><%= link_to 'Delete Treehouse', treehouse_path, method: :delete %></li>
				</ul>
			</div>

		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			
			<div id="map" class="img-responsive map" style="width: 100%; height: 350px; margin-top: 100px; margin-bottom: 30px;"></div>
    


		</div>
	</div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
      $(document).on('ready', function() {
        var handler = Gmaps.build('Google', { markers: { clusterer: undefined }});
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers([
            {
              "lat": <%= @treehouse.latitude %>,
              "lng": <%= @treehouse.longitude %>,
              "infowindow": "<%= j render 'map_box',treehouse: @treehouse %>"

            }
           
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(14);
        });
      })
  <% end %>
<% end %>
