<div class="show-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%),  image-url("treehouse_banner.png");">	
</div>
<!-- <div class="show-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%),  url("<%= @treehouse.photos.first.path %>");">	
</div> -->

	
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="booking-wrapper">
				<div class="booking-col">
					<div class="booking-col-highlight"><strong>$100 CAD</strong>   Per Night</div>
					<div class="booking-col-content text-center">
						<p>
							<%= render "bookings/form" %>
						</p>
						<!-- <a class="btn btn-light" href="">Book Now</a> -->
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8">

			<div class="show-content">
				<h1><%= @treehouse.name %></h1>
				<h2><%= @treehouse.location %></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
<!-- 				
				<% @treehouse.photos.each do |photo| %>
				  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
				<% end %> -->

				<p><%= link_to 'Edit Treehouse', edit_treehouse_path %></p>
				<p><%= link_to 'Delete Treehouse', treehouse_path, method: :delete %></p>
			</div>

		</div>
	</div>
</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @treehouse_coordinates.to_json %>;
    });
  <% end %>
<% end %>


<div id="map" class="img-responsive map" style="width: 100%; height: 350px; margin-top: 100px; margin-bottom: 30px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>